
  <!--covid update-->
  <div class="top-container">
    <ul>
    <li>COVID-19 Update:Here's how we ensure a safe home interior experience.<a href="../assets/images/covid.html" class="read">Read more &#8594;</a><span class="close">&times;</span></li>
    </ul>
    </div>
    <script>
    var closebtns = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
      });
    }
    </script>

<nav class="navbar navbar-expand-md sticky-top shadow">
  <a href="#home">HOME</a>


      <img class="heading" src="../../assets/images/167.png">


      <a href="#aboutus">About Us</a>
    <a href="#services">Services</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#pricing">Pricing</a>

    <a href="#team">Our Team</a>
    <a href="#feedback">Feedback</a>
    <div class="button">
         </div>
         <script>
          window.onscroll = function() {myFunction()};

          var header = document.getElementById("myHeader");
          var sticky = header.offsetTop;

          function myFunction() {
            if (window.pageYOffset > sticky) {
              header.classList.add("sticky");
            } else {
              header.classList.remove("sticky");
            }
          }
          </script>
          <a href="#login">LOGIN</a>
          <a href="#register">SIGNUP</a>


</nav>
  <br>


  <div class="container-fluid" >
    <router-outlet></router-outlet>
  </div>

