


 /* #slider{
  width: 1500px;
  max-height: 500px;
} */

/*who we are*/
.headdd13{
	color: #800000;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
.w3-image:hover{
  box-shadow: 0px 0px 18px 5px black;
  transition: 0.4s;
}
.w3-quarter{
  padding:0 15px;
}
.imag11{
  width:20%;
}
.head345{
  color:#ff9900;
  font-weight: bold;
  font-size: 20px;
}
.datata13{
  color:black;
  font-size: 15px;
}
.datata13{
  color:black;
  font-size: 18px;
}
.w3-padding-64{
  padding-top:10px;
  padding-bottom: 10px;
}
.w3-container, .w3-panel {
    padding: 0.01em 20px;
    }
.image1313:hover{
 box-shadow: 8px 8px 10px 5px grey;
}
/*who we are*/

/*choose us*/
.w3-padding-64{
  background-color:grey;
}
.choose{
color: #00394d;
font-weight: bold;
text-align: justify;
}
.datata{
  text-align: center;
  color:white;
  font-size: 18px;
}
.headdd{
  color:white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
/*choose us*/
/*services*/
.cont13{
	text-align: center;
}
.bhav{
	font-weight: 700;
}
.headdd1{
   font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top:80px;
}
.datata12{
  font-size: 18px;
  text-align:center;
  margin-left:80px;
  margin-right: 80px;
  text-align: justify;
}
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.row {
  margin-left: 130px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card1 {
  padding: 16px;
  text-align: center;
  background-color:#00394d;
  min-height: 238px;
  color: white;
}
.card1:hover{

    color: black;
    font-weight: bold;
}
.card2 {
  padding: 16px;
  text-align: center;
  background-color: #ffebcc;
  min-height: 238px;
  color: black;
}
.card2:hover{

  font-weight: bold;
}
.card3 {
  padding: 16px;
  text-align: center;
  background-color: #00394d;
  min-height: 238px;
  color: white;
}
.card3:hover{

  color: black;
  font-weight: bold;
}
.card4 {
  padding: 16px;
  text-align: center;
  background-color: #ffebcc;
  min-height: 238px;
  color: black;
}
.card4:hover{

  font-weight: bold;
}
.card5 {
  padding: 16px;
  text-align: center;
  background-color: #00394d;
  min-height: 238px;
  color: white;
}
.card5:hover{

    color: black;
    font-weight: bold;
}
.card6 {
  padding: 16px;
  text-align: center;
  background-color: #ffebcc;
  min-height: 238px;
  color: black;
}
.card6:hover{

  font-weight: bold;
  color: black;
}
#services{
padding:7px;}
/*services end */


/*portfolio*/
.portfolio{
  background-color: black;
}
.portfolio13{
	font-size: 40px;
	color: white;
	text-align: center;
	font-weight: bold;
}
.resid1{
  text-align:center;
  color:white;
  font-size: 20px;
}
.w3-row-padding>.w3-col {
    padding: 20px 20px;
}
/*portfolio end*/

/*pricing*/
#residimg:hover{
  box-shadow: 0px 0px 20px 7px white;
  transition: 0.4s;
  }
  .resid{
    font-weight: bold;
    text-align: justify;
  }
  .proff{
   font-weight: bold;
   font-size: 40px;
  }
  .comm{
    font-weight: bold;
    text-align: justify;
  }
  .proff13{
   font-weight: bold;
  }
  .comm13{
  font-weight: bold;
   font-size: 40px;
  }
  .resid13{
  font-weight: bold;
   font-size: 40px;
  }
  /*pricing end*/



/*feedback */
#feedback{
padding:10px;
}
.container-15 {
  border: 2px solid #d6f5d6;
  background-color: #d6f5d6;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}
.container-15:hover{

	border: 2px solid black;
	border-radius: 5px;
}
.container-15::after {
  content: "";
  clear: both;
  display: table;
}
.container-15 img {
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}
.container-15 span {
  font-size: 20px;
  margin-right: 15px;}

@media (max-width: 500px) {
  .container-15 {
      text-align: center;
  }
  .container-15 img {
      margin: auto;
      float: none;
      display: block;
  }
.exper{
	font-weight: bold;
	color:#ff6600;
}
.exper13{
	font-weight: bold;
}
.customer{
	font-weight: bold;
	font-size: 40px;

color: #800000;
}
}
/*feedback end*/
